workflows/active/insight-extractor-TBD_CREATE_IN_N8N.json
{
  "name": "insight-extractor",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "insight-extractor",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "4336a06c-0f4d-4832-8a7b-73f95bca4fc6",
      "name": "Insight Extractor Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -980,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "const text = String($json.transcript_text || '');\nif (!text.trim()) throw new Error('transcript_text is required for extraction');\n\nconst findNum = (regex) => {\n  const m = text.match(regex);\n  return m ? Number(m[1]) : null;\n};\n\nconst roas = findNum(/ROAS(?: is| at)?\\s*([0-9]+(?:\\.[0-9]+)?)/i);\nconst cacPrev = (() => {\n  const m = text.match(/CAC rose from \\$?([0-9]+(?:\\.[0-9]+)?) to \\$?([0-9]+(?:\\.[0-9]+)?)/i);\n  return m ? Number(m[1]) : null;\n})();\nconst cacCurrent = (() => {\n  const m = text.match(/CAC rose from \\$?([0-9]+(?:\\.[0-9]+)?) to \\$?([0-9]+(?:\\.[0-9]+)?)/i);\n  return m ? Number(m[2]) : null;\n})();\nconst spend = findNum(/spend about \\$?([0-9]+(?:,[0-9]{3})*(?:\\.[0-9]+)?)/i);\nconst mobileShare = findNum(/([0-9]+(?:\\.[0-9]+)?)% of paid traffic is mobile/i);\nconst checkoutCv = findNum(/Checkout conversion is only ([0-9]+(?:\\.[0-9]+)?)%/i);\nconst aov = findNum(/average order value is \\$?([0-9]+(?:\\.[0-9]+)?)/i);\n\nconst goalRoas = findNum(/ROAS(?: at)? ([0-9]+(?:\\.[0-9]+)?)\\+/i);\nconst goalCac = findNum(/CAC below \\$?([0-9]+(?:\\.[0-9]+)?)/i);\n\nconst constraints = [];\nif (/small team/i.test(text)) constraints.push('Small team');\nif (/one video editor/i.test(text)) constraints.push('One video editor');\nif (/no signed UGC creators/i.test(text)) constraints.push('No signed UGC creators yet');\n\nconst competitors = [];\nconst compMatch = text.match(/Competitors[^\\n]*\\nClient:\\s*([^\\.]+)/i);\nif (compMatch) {\n  compMatch[1].split(/,|and/i).map(s => s.trim()).filter(Boolean).forEach(c => competitors.push(c.replace(/\\.$/, '')));\n}\n\nreturn [{\n  json: {\n    ...$json,\n    status: 'EXTRACTION_IN_PROGRESS',\n    discovery_brief: {\n      case_id: $json.case_id,\n      problem_summary: 'Meta-to-Shopify efficiency decline with ROAS drop and CAC increase plus conversion leakage.',\n      goal_summary: `Target ROAS >= ${goalRoas ?? 'TBD'} and CAC < ${goalCac ?? 'TBD'} in 90 days with repeatable creative testing.`,\n      constraints,\n      key_metrics: {\n        roas_current: roas,\n        cac_previous: cacPrev,\n        cac_current: cacCurrent,\n        monthly_ad_spend: spend,\n        mobile_traffic_share_pct: mobileShare,\n        checkout_conversion_rate_pct: checkoutCv,\n        average_order_value: aov\n      },\n      competitors\n    }\n  }\n}];"
      },
      "id": "2fd06deb-aad8-453c-a819-f0c0fa67ea2f",
      "name": "Extract Discovery Brief",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "// Replace this node with Google Sheets append/update into Extracted_Insights tab.\nreturn items;"
      },
      "id": "0e5e5d48-f6ac-4ce2-8a0f-6f37ef93b3cb",
      "name": "Google Sheets Insights Upsert (TODO)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.N8N_BASE_URL || '').replace(/\\/$/, '') + '/webhook/research-enricher' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "fbce02d2-fc9b-4a29-aa56-6aab20f4caa2",
      "name": "Call research-enricher",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -220,
        260
      ]
    }
  ],
  "connections": {
    "Insight Extractor Webhook": {
      "main": [
        [
          {
            "node": "Extract Discovery Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Discovery Brief": {
      "main": [
        [
          {
            "node": "Google Sheets Insights Upsert (TODO)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Insights Upsert (TODO)": {
      "main": [
        [
          {
            "node": "Call research-enricher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "00000000-0000-0000-0000-000000000002",
  "meta": null,
  "id": "TBD_CREATE_IN_N8N",
  "tags": [],
  "pinData": {
    "Insight Extractor Webhook": [
      {
        "json": {
          "source": "manual",
          "transcript_id": "call-2026-03-05-glossier",
          "captured_at_utc": "2026-03-05T15:00:00Z",
          "client_name": "Glossier",
          "client_email": "emily@glossier.com",
          "website_url": "https://www.glossier.com",
          "qa_reviewer_email": "qa@pinnaclemedia.example",
          "founder_approver_email": "founder@pinnaclemedia.example",
          "transcript_text": "DISCOVERY CALL TRANSCRIPT\nPinnacle Media Group  \u00d7  Glossier\nDate: March 5, 2026   |   Duration: ~38 minutes   |   Format: Zoom\nPARTICIPANTS\nMarcus Reid \u2014 Senior Growth Strategist, Pinnacle Media Group\nEmily Weiss \u2014 Founder & CEO, Glossier\nPART 1 \u2014 INTRODUCTIONS & CONTEXT\n[Call begins. Both parties join on time.]\nMarcus:   Hey Emily, really appreciate you jumping on. I know your schedule is packed \u2014 I'll keep us tight and make sure we're out on time. Quick intro: I'm Marcus, Senior Growth Strategist at Pinnacle. We work exclusively with DTC beauty and wellness brands scaling through paid social. We've had a lot of success with founders who have strong organic presence but haven't fully unlocked their paid channels yet. That's kind of what caught my eye with Glossier.\nEmily:   Yeah, totally. And honestly that's a big reason I took this call. We've built so much organically \u2014 like the community is real, the engagement is real \u2014 but I feel like we're leaving a lot on the table on the paid side. We had some runs internally but it was always a bit disjointed.\nMarcus:   Totally makes sense. So let's start from the top \u2014 give me the honest state of the business right now. Like, revenue, what's working, what's frustrating you.\nEmily:   Sure. So we're doing around $180K a month right now. Which sounds decent, but our goal \u2014 where I know this brand should be \u2014 is closer to $800K to a million a month. We have the audience for it. We have over 2.8 million on Instagram, about 400K on TikTok now. The community is incredibly engaged. But converting that to actual revenue at scale, that's the gap.\nMarcus:   And site conversion rate \u2014 do you know what you're sitting at?\nEmily:   Yeah, it's around 1.8% right now. It was higher post-pandemic when everyone was online shopping. We've seen it dip and we know it needs work \u2014 CRO is on the list, email flows too. But honestly, we can't fix everything at once without the right people in place.\nMarcus:   That actually segues perfectly into something I wanted to ask \u2014 what's the team situation look like?\nEmily:   We went through a reset about a year ago. Scaled back, restructured. So right now we're leaner than I'd like. It's part of what's holding us back \u2014 I don't have a full execution team to run paid, retention, and creative all at the same time. That's partly why exploring an agency makes sense right now.\nPART 2 \u2014 MARKETING & PAID HISTORY\nMarcus:   Okay, let's talk paid. What's your history there \u2014 what have you run, what worked, what didn't?\nEmily:   We've run Facebook, Instagram ads. Some influencer seeding at scale. The issue was never the creative or the brand \u2014 our content performs. The issue was more strategic consistency. We weren't set up to iterate fast enough or to really analyze and double down on what was working.\nMarcus:   What about agency experience \u2014 have you worked with anyone before?\nEmily:   Honestly, not really. It's been mostly in-house. Which is why this feels like a new chapter. I want to hand this off to people who breathe this stuff every day rather than trying to run it between a hundred other founder decisions.\nMarcus:   I get that completely. And when it is working \u2014 like your best-performing creative \u2014 what kind of ROAS are you seeing?\nEmily:   Our winning creative has hit a 4.1 ROAS. And our SMS \u2014 which we've leaned into \u2014 has actually hit 18.5 ROAS. Email at peak has driven about 30% of revenue. So the retention side works when we're focused on it. It's more about building the machine, you know?\nMarcus:   That SMS number is really strong. What platform are you on for that?\nEmily:   We use a combination \u2014 email and SMS are both active lead channels. The list is healthy. We just need better flows and more consistent campaigns behind it.\nMarcus:   And what's the AOV looking like?\nEmily:   Sits between $52 and $68 depending on the product mix. We have post-purchase upsells running \u2014 bundles, routine sets \u2014 which helps push that number up.\nPART 3 \u2014 BRAND, AUDIENCE & CREATIVE\nMarcus:   Let's talk brand for a second. How would you describe the Glossier positioning \u2014 like in your own words, not the press release version.\nEmily:   Skincare first, makeup second. That's always been it. We're not trying to cover you up or sell you a ten-step routine. We make products that enhance who you already are. And the messaging has always felt real \u2014 real skin, real people, not the heavily filtered influencer stuff. That's still our north star.\nMarcus:   And that actually connects to what I noticed \u2014 your audience is really Millennial and Gen Z women, 18 to 38 or so?\nEmily:   Exactly. And they're smart consumers. They've been burned by overclaiming brands. The biggest objection we hear is basically 'will this actually work on my skin type' or 'is this worth the price.' So we have to lead with proof. Real skin photos, community reviews, our Into The Gloss editorial history \u2014 that stuff actually converts.\nMarcus:   What creative angles have been working best for you?\nEmily:   Real skin UGC is number one, hands down. Before and after lifestyle content. And minimalist aesthetic ads with social proof overlays. Anything that feels like something a friend sent you rather than an ad. Our audience can smell a salesy ad from a mile away \u2014 it has to feel earned, not pushed.\nMarcus:   That's actually perfect for what we do. Low-pressure, community-validated creative is exactly where Meta is rewarding brands right now. We call it trust-first creative. And it's the sweet spot for your demo.\nPART 4 \u2014 COMPETITION & LANDSCAPE\nMarcus:   Who do you see as your main competitors right now? Both direct and who you're watching from an inspiration standpoint?\nEmily:   Direct competitors \u2014 Rhode is the obvious one right now, they're having a moment. Tatcha, Ereskin. On the inspiration side, I really respect what The Ordinary has done with positioning \u2014 democratizing skincare without dumbing it down. Summer Fridays has great brand energy. And Rare Beauty is doing the community-brand thing really well.\nMarcus:   Where do you feel like you have a real advantage over those brands?\nEmily:   Honestly, our community identity runs deeper. Into The Gloss gave us a foundation that's almost editorial \u2014 it's not just products, it's a point of view. Competitors are crushing it on TikTok Shop right now with celebrity-driven stuff, but we've always been more about the person, not the persona. That's a differentiator if we execute on it.\nPART 5 \u2014 GOALS, OBJECTIONS & NEXT STEPS\nMarcus:   So if we were to work together \u2014 what does success look like to you at, say, 90 days?\nEmily:   Honestly? I want to see the paid channel actually profitable and scaling. I want to feel like there's a real system behind it \u2014 not just throwing budget at Meta and hoping. And I want the email and SMS retention side working harder. If we can move from $180K to pushing $400K a month in 90 days, that's a proof of concept for me.\nMarcus:   That's very achievable given what you already have. The organic audience, the creative assets, the retention infrastructure \u2014 you're not starting from zero. You've actually already done the hard part. We'd just be building the paid engine around what's there.\nEmily:   That's what I need to hear. My concern has always been handing this to someone who doesn't understand the brand. Glossier's voice is very specific and we've built trust with our community over years. I don't want an agency that just runs cookie-cutter Meta ads.\nMarcus:   I completely respect that. That's honestly why we spend the first two weeks purely on brand immersion \u2014 your tone, your community, your creative history \u2014 before we ever touch the ad account. You'd be approving every angle before it goes live.\nEmily:   Okay. I like that. When can you get me a plan?\nMarcus:   I'll have a full strategy proposal to you by end of this week \u2014 I'm thinking Wednesday. It'll cover our audit findings on your current account, the creative framework we'd build, and projected ROAS targets for the first 60 days. We'd start with around $20K in spend and scale based on what's profitable.\nEmily:   That works. Let's do it. Send it over and we'll go from there.\nMarcus:   Perfect. Emily, this was super valuable. I'm excited about this one \u2014 genuinely. Talk soon.\nEmily:   Likewise. Thanks Marcus.\n[Call ends \u2014 38 minutes, 12 seconds]\nConfidential \u2014 Pinnacle Media Group Internal Use Only",
          "case_id": "case-call-2026-03-05-glossier",
          "status": "NEW",
          "ingested_at_utc": "2026-03-05T15:00:00Z",
          "draft_due_at_utc": "2026-03-05T19:00:00Z"
        }
      }
    ]
  }
}
